# محیط مجازی (خیلی مهم)
.venv/

# داده‌ها و مدل‌ها (حجیم هستن و نباید برن روی گیت)
Data/
model/

# فایل‌های کامپایل شده‌ی پایتون (همون __pycache__)
__pycache__/
*.pyc
*.pyo



# فایل‌های سیستمی ویندوز
Thumbs.db
desktop.ini

# فایل‌های لاگ و موقت
*.log
*.tmp

# فایل‌های تستی اضافی (اگه نمیخوای برن)
test.txt
req.txt